<%- include("partials/header"); %>

<form action="/market" method="post">
  <div class="container-fluid containerMarket">
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">Item</th>
          <th scope="col">Sold by</th>
          <th scope="col">In Game Name</th>
          <th scope="col">Server</th>
          <th scope="col">Price</th>
          <!-- <th scope="col">Your Offer</th> -->
        </tr>
      </thead>
      <tbody>
        <% items.forEach(function(item){ %>
          <tr>
            <td><%=item.itemName%></td>
            <td><%=item.userName%></td>
            <td><%=item.userIGN%></td>
            <td><%=item.userServer%></td>
            <td><%=item.itemPrice%></td>
            <!-- <td><input type="number" style="width: 80px;" name="offeredPrice"></td> -->
            <td><button type="submit" name="button" value=<%=item._id%> class="btn btn-outline-light btn-md">Buy</button></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</form>

<%- include("partials/footer"); %>
