<%- include("partials/post-header"); %>

  <div class="container-fluid containerMarket">
    <form action="/closeItem" method="post">
      <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">Item</th>
            <th scope="col">In Game Name</th>
            <th scope="col">Server</th>
            <th scope="col">Price</th>
            <th scope="col">Buyer Username</th>
          </tr>
        </thead>
        <tbody>
          <% items.forEach(function(item){ %>
            <tr>
              <td><%=item.itemName%></td>
              <td><%=item.userIGN%></td>
              <td><%=item.userServer%></td>
              <td><%=item.itemPrice%></td>
              <td><%=item.buyerUsername%></td>
              <td><button type="submit" name="button" value=<%=item._id%> class="btn btn-outline-light btn-md">Close Item</button></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </form>
  </div>

<%- include("partials/footer"); %>
